{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for courses in course %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ courses.image.url }}" alt="{{ courses.subject }}" height="225px" />
                        <div class="card-body">
                            <p class="text-center">
                                {% if user.is_authenticated or courses.type == 0 %}
                                    <a href="{% url 'products:detail' courses.id %}">
                                        {{courses.subject }}
                                    </a>
                                {% else %}
                                    {{courses.subject }}
                                {% endif %}
                            </p>
                            <p class="card-text">{{courses.description | safe }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    {% if user.is_authenticated or courses.type == 0 %}
                                    <a href="{% url 'products:detail' courses.id %}" role="button"\
                                     class="btn btn-sm btn-outline-secondary">View</a>
                                    {% else %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">Get account</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Please login view video
                                            </div>
                                            <div class="modal-footer">
                                            <a href="accounts/login" role="button" class="btn btn-primary">I see</a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <small class="text-muted">Star: {{courses.star }}</small>
                            </div>
                        </div>
                        <div class="text-center"><strong>{{courses.category }}</strong></div>
                    </div>
                </div>  
            {% endfor %}
      </div>
      <br><hr>
      <!-- This is paginator-->
      <div class="text-end">
        {% if course.has_previous %}
            <a class="btn btn-sm btn-outline-secondary" href="{{ request.path }}?page=1">Trang đầu</a>
<!--              <a class="btn btn-sm btn-outline-secondary" href="{{ request.path }}?page={{ coursesDetailKey.previous_page_number }}">Trang trước</a>-->
        {% endif %}

        {% for i in course.paginator.page_range %}
          {% if course.number == i %}
            <a class="btn btn-sm btn-outline-primary active" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
          {% elif i > course.number|add:'-10' and i < course.number|add:'10' %}
            <a class="btn btn-sm btn-outline-secondary active" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}

        {% if course.has_next %}
<!--              <a class="btn btn-sm btn-outline-secondary" href="{{ request.path }}?page={{ coursesDetailKey.next_page_number }}">Tiếp theo</a>-->
            <a class="btn btn-sm btn-outline-secondary" href="{{ request.path }}?page={{ course.paginator.num_pages }}">Trang cuối</a>
        {% endif %}
    </div>
    </div>
  </div>
{% endblock %}
